<!--ユーザー情報-->
<h2>User info</h2>
  <%= attachment_image_tag user, :profile_image, size: "100x100", fallback: "no_image.jpg" %>
  <table class="table table-hover table-inverse">
    <tbody>
      <tr></tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>
<div class="row">
  <% if user.id == current_user.id %>
    <%= link_to edit_user_path(user.id) do %>
    edit
    <% end %>
  <% end %>
</div>

<!--新期投稿-->
<h2>New book</h2>
  <%= form_with model: book, url: "/books", local:true do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div class="btn">
    <%= f.submit "Create Book" %>
  </div>
  <% end %>