<!--Books show-->
<div class="container px-5 px-sm-0">
  <!--erroe messages-->

  <div class="row">
    <!--User info, New book-->
    <div class="col-md-3">

      <%= render partial: 'books/user', locals: {user: @user, book: @book} %>

    </div>

    <!--Book詳細-->
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@booka.user.id) do %>
                <%= attachment_image_tag @booka.user, :profile_image, size: "40x40", fallback: "no_image.jpg" %><br />
                <%= @booka.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@booka) do %>
                <%= @booka.title %>
              <% end %>
            </td>
            <td><%= @booka.body %></td>
            <!--作成ユーザなら表示↓-->
            <% if @booka.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@booka) %></td>
            <td><%= link_to "Delete", book_path(@booka.id), method: :delete, data: {confirm: "「#{@booka.title}」を削除します。"} %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>